{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/banner01.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->


<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'productos_app:productos' %}" class="btn btn-outline-primary float-right">Ver Todo</a>
	<h3 class="section-title">Productos populares</h3>
</header><!-- sect-heading -->

	
<div class="row">
	
	{% for item in productos %}
		<div class="col-md-3">
			<div class="card card-product-grid">
				<a href="{{ item.get_url }}" class="img-wrap"> <img src="{{ item.imagen.url }}"> </a>
				<figcaption class="info-wrap">
					<a href="{{ item.get_url }}" class="title">{{item.nombre}}</a>
					<div class="price mt-1">${{item.precio}}</div>	

					<div class="rating-star">
						<span>
							<i class="fa fa-star{% if item.promedioReview < 0.5 %}-o{% elif item.promedioReview >= 0.5 and item.promedioReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if item.promedioReview < 1.5 %}-o{% elif item.promedioReview >= 1.5 and item.promedioReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if item.promedioReview < 2.5 %}-o{% elif item.promedioReview >= 2.5 and item.promedioReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if item.promedioReview < 3.5 %}-o{% elif item.promedioReview >= 3.5 and item.promedioReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if item.promedioReview < 4.5 %}-o{% elif item.promedioReview >= 4.5 and item.promedioReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						</span>
					</div>

				</figcaption>
			</div>
		</div>	
	{% endfor %}
</div>

</div>
</section>
<!-- ========================= SECTION  END// ========================= -->


</body>
</html>

{% endblock %}