{% extends 'home/base.html' %}

{% load static %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">

    <div class="row">
      <aside class="col-lg-6">
        <div class="card">

          <div class="card-body">
            <h4 class="card-title mb-4">Datos de quien recibe el pedido</h4>

            {% if credit %}
            <form action="{% url 'ordenes_app:place_order_credit' %}" method="post">
            {% else %}
            <form action="{% url 'ordenes_app:place_order' %}" method="post">
            {% endif %}

              {% csrf_token %}

              <div class="form-row">
                <div class="col form-group">
                  <label for="">Nombre(s)</label>
                  <input type="text" name="first_name" class="form-control" required>
                </div>

                <div class="col form-group">
                  <label for="">Apellido(s)</label>
                  <input type="text" name="last_name" class="form-control" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col form-group">
                  <label for="">Email</label>
                  <input type="email" name="email" class="form-control" required>
                </div>

                <div class="col form-group">
                  <label for="">Teléfono</label>
                  <input type="text" name="phone" class="form-control" maxlength="10" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col form-group">
                  <label for="">Calle y número</label>
                  <input type="text" name="addres_line_1" class="form-control" required>
                </div>

                <div class="col form-group">
                  <label for="">Colonia</label>
                  <input type="text" name="addres_line_2" class="form-control" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col form-group">
                  <label for="">Ciudad</label>
                  <input type="text" name="city" class="form-control" required>
                </div>

                <div class="col form-group">
                  <label for="">Estado</label>
                  <input type="text" name="state" class="form-control" required>
                </div>

                <div class="col form-group">
                  <label for="">Pais</label>
                  <input type="text" name="country" class="form-control" required>
                </div>
              </div>

              <div class="form-row">
                <label for="">Notas adicionales o referencias</label>
                <textarea name="order_note" class="form-control" rows="3" cols="80" required></textarea>
              </div>
          </div>
        </div>
      </aside>

      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">

            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col" width="120">Total</th>
                </tr>
              </thead>
              <tbody>

                <!-- DETALLES DEL CARRITO -->
                {% for car_det in cart_items %}
                <tr>
                  <td>
                    <figure class="itemside align-items-center">
                      <div class="aside"><img src="{{car_det.product.imagen.url}}" class="img-sm"></div>
                      <figcaption class="info">

                        <a href="{{ car_det.product.get_url }}" class="title text-dark">{{car_det.product.nombre}}</a>

                        <p class="text-muted small">
                          {% if car_det.variations.all %}

                            {% for item in car_det.variations.all %}

                                {{ item.variante_categoria | capfirst }} : {{ item.variante_valor | capfirst }} <br>

                            {% endfor %}

                          {% endif %}
                        </p>

                      </figcaption>
                    </figure>
                  </td>

                  <td>
                    <label for="">{{ car_det.quantity }}</label>
                  </td>

                  <td>
                    <div class="price-wrap">
                      <var class="price">${{car_det.subtotal  | floatformat:2 }}</var>
                      <small class="text-muted"> ${{car_det.product.precio  | floatformat:2 }} pieza </small>
                    </div> 
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% if credit %}
              <button type="submit" name="submit" class="btn btn-outline-warning btn-block"> Ordenar productos a credito</button>
              <br>
              <!-- <button type="submit" name="submit" class="btn btn-outline-primary btn-block"> Ordenar productos de contado</button>            
              <br> -->
            {% else %}
              <button type="submit" name="submit" class="btn btn-primary btn-block"> Ordenar productos</button>            
            {% endif %}

            <a href="{% url 'productos_app:productos' %}" class="btn btn-outline-success btn-block">Seguir comprando</a>

          </form>

          </div>
        </div>
      </aside>

    </div>

  </div>
</section>

{% endblock content %}
