{% extends 'home/base.html' %}

{% load static %}

{% block content %}


<section class="section-content padding-y bg">
  <div class="container">

    {% include 'home/includes/alertas.html' %}


    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{ producto_unico.imagen.url }}"></a>
            </div>

          </article>
        </aside>
        <main class="col-md-6 border-left">

          <form action="{% url 'carrito_app:agregar_carrito' producto_unico.id %}" method="POST">

            {% csrf_token %}

            <article class="content-body">

              <h2 class="title">{{ producto_unico.nombre }}</h2>

              <div class="rating-star">
                <span>
                      <i class="fa fa-star{% if producto_unico.promedioReview < 0.5 %}-o{% elif producto_unico.promedioReview >= 0.5 and producto_unico.promedioReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if producto_unico.promedioReview < 1.5 %}-o{% elif producto_unico.promedioReview >= 1.5 and producto_unico.promedioReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if producto_unico.promedioReview < 2.5 %}-o{% elif producto_unico.promedioReview >= 2.5 and producto_unico.promedioReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if producto_unico.promedioReview < 3.5 %}-o{% elif producto_unico.promedioReview >= 3.5 and producto_unico.promedioReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if producto_unico.promedioReview < 4.5 %}-o{% elif producto_unico.promedioReview >= 4.5 and producto_unico.promedioReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                </span>
              </div>

              <span>{{ producto_unico.contarReview }}</span> Comentarios
              <br>
              <br>

              <div class="mb-3">
                <var class="price h4">${{ producto_unico.precio }}</var>
              </div>

              <p>{{ producto_unico.descripcion }}</p>
              <hr>

              <!-- COLOR -->
              <div class="row">
                <div class="item-option-select">
                  {% if producto_unico.variante_set.colores %}
                    <h6>Color</h6>
                    <select name="color" class="form-control" required>
                      <option value="" disabled selected>Seleccione</option>
                      {% for i in producto_unico.variante_set.colores %}
                        <option value="{{ i.variante_valor | lower }}">{{ i.variante_valor | capfirst }}</option>
                      {% endfor %}
                    </select>
                  {% endif %}
                </div>

              <!-- TALLA -->
                <div class="item-option-select">
                  {% if producto_unico.variante_set.tallas %}
                    <h6>Talla</h6>                  
                    <select name="talla" class="form-control" required>
                      <option value="" disabled selected>Seleccione</option>
                      {% for i in producto_unico.variante_set.tallas %}
                        <option value="{{ i.variante_valor | lower }}">{{ i.variante_valor | capfirst }}</option>
                      {% endfor %}
                    </select> 
                  {% endif %}                 
                </div>
              </div>
              <hr>

              <!-- STOCK -->
              {% if producto_unico.stock <= 0 %} 
                <span class="btn btn-secondary">Producto sin stock</span>              
              {% else %}
                <button type="submit" class="btn  btn-primary"> <span
                  class="text">Agregar al carrito</span> <i class="fas fa-shopping-cart"></i></button>
              {% endif %}

            </article>
          </form>

        </main>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-9">

        <!-- CALIFICACION DE CLIENTES -->
        <form action="{% url 'productos_app:submit_review' producto_unico.id %}" method="post">
          {% csrf_token %}

          <h4>Calificación de clientes</h4>
          <div class="rating-star">
            <span>
                  <i class="fa fa-star{% if producto_unico.promedioReview < 0.5 %}-o{% elif producto_unico.promedioReview >= 0.5 and producto_unico.promedioReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if producto_unico.promedioReview < 1.5 %}-o{% elif producto_unico.promedioReview >= 1.5 and producto_unico.promedioReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if producto_unico.promedioReview < 2.5 %}-o{% elif producto_unico.promedioReview >= 2.5 and producto_unico.promedioReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if producto_unico.promedioReview < 3.5 %}-o{% elif producto_unico.promedioReview >= 3.5 and producto_unico.promedioReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if producto_unico.promedioReview < 4.5 %}-o{% elif producto_unico.promedioReview >= 4.5 and producto_unico.promedioReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
            </span>
          </div>
          <br>
          <br>

          <h5>Escriba su cometario</h5>

          <div class="">
            <label for="">Como calificaría este producto?</label>
            <br>

            <div class="rate">
              <input type="radio" name="rating" value="5" id="rating10"><label for="rating10" title="5"></label>
              <input type="radio" name="rating" value="4.5" id="rating9"><label for="rating9" title="4.5" class="half"></label>
              <input type="radio" name="rating" value="4" id="rating8"><label for="rating8" title="4"></label>
              <input type="radio" name="rating" value="3.5" id="rating7"><label for="rating7" title="3.5" class="half"></label>
              <input type="radio" name="rating" value="3" id="rating6"><label for="rating6" title="3"></label>
              <input type="radio" name="rating" value="2.5" id="rating5"><label for="rating5" title="2.5" class="half"></label>
              <input type="radio" name="rating" value="2" id="rating4"><label for="rating4" title="2"></label>
              <input type="radio" name="rating" value="1.5" id="rating3"><label for="rating3" title="1.5" class="half"></label>
              <input type="radio" name="rating" value="1" id="rating2"><label for="rating2" title="1"></label>
              <input type="radio" name="rating" value="0.5" id="rating1"><label for="rating1" title="0.5" class="half"></label>
            </div>
            <br>

            Título del comentario
            <input type="text" class="form-control" name="subject">
            <br>

            Cometario
            <textarea name="review" id="" rows="4" class="form-control"></textarea>
            <br>

            {% if user.is_authenticated %}

              {% if orderproduct %}
                <div align="right">
                  <input type="submit" value="Enviar comentario" class=" btn btn-primary">
                </div>
              {% else %}
                <div align="right">
                  <b><p>Debe comprar el producto para poder hacer un comentario.</p></b>
                </div>
              {% endif %}

            {% else %}
              <div align="right">
                <b><p>Para enviar un comentario, debe estar registrado.</b> <span><a href="{% url 'cuentas_app:login' %}"> Iniciar sesión</a></span></p>
              </div>
            {% endif %}
            <br>
            <br>

          </div>

        </form>
        

        <!-- COMENTARIOS -->
        <header class="section-heading">
          <h4>Comentarios de clientes</h4>
        </header>

        {% if reviews %}

          {% for review in reviews %}

            <article class="box mb-3">
              <div class="icontext w-100">
                <!-- <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle"> -->
                <div class="text">
                  <span class="date text-muted float-md-right">{{ review.updated_at }} </span>
                  <h6 class="mb-1">{{ review.user.full_name}} </h6>
                  <div class="rating-star">
                    <span>
                      <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                      <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <h6>{{ review.subject }}</h6>
                <p>
                  {{ review.review }}
                </p>
              </div>
            </article>

          {% endfor %}

        {% else %}

        <p>Aún no existen comentarios sobre este producto.</p>
        
        {% endif %}



      </div>
    </div>


  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}