{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">

        <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <article class="card-body">

              {% include 'home/includes/alertas.html' %}

                <header class="mb-4">
                    <h4 class="card-title">Registro de Usuario</h4>
                </header>

                <form action="{#% url 'registro' %#}" method="post">

                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Nombre(s)</label>
                            {{form.first_name}}
                        </div>
                        <div class="col form-group">
                            <label>Apellido(s)</label>
                            {{form.last_name}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Telefono</label>
                            {{form.phone}}
                        </div>
                        <div class="col form-group">
                            <label>Email</label>
                            {{form.email}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Contraseña</label>
                            {{form.password}}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Confirmar contraseña</label>
                            {{form.confirm_password}}
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Registrar </button>
                    </div>

                    <!--Validacion de email-->
                    {{ form.email.errors }}
                    
                    <!--Validacion de contraseña-->
                    {{ form.non_field_errors }}

                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Tiene una cuenta? <a href="{% url 'cuentas_app:login' %}">Iniciar sesión</a></p>
        <br><br>
        <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    </section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
